.ingredients {
  margin: 0 8%;
}
.ingredients__title {
  font-size: 26px;
  color: hsl(14, 45%, 36%);
  margin: 0;
}
.ingredients__list {
  font-family: "Outfit", sans-serif;
  margin-left: -5%;
}
.ingredients__list-item {
  color: hsl(14, 45%, 36%);
  margin: 0 0 5%;
  text-align: start;
}

.ingredients__list-normal {
  color: hsl(30, 10%, 34%);
  margin: 0 0 0 6%;
}

.ingredients__line {
  background-color: hsl(30, 18%, 87%);
  height: 1px;
  margin: 10% 0;
}

@media screen and (min-width: 680px) {
  .ingredients__list-item {
    margin: 0 0 1%;
  }
  .ingredients__list-normal {
    margin: 0 0 0 3%;
  }
}
