.instructions {
  margin: 0 8%;
}
.instructions__title {
  font-size: 26px;
  color: hsl(14, 45%, 36%);
  margin: 0;
}
.instructions__list {
  font-family: "Outfit", sans-serif;
  margin-left: -5%;
}
.instructions__list-item {
  color: hsl(14, 45%, 36%);
  margin: 0 0 6%;
  text-align: start;
}

.instructions__list-normal {
  color: hsl(30, 10%, 34%);
}
.instructions__list-bold {
  color: hsl(30, 10%, 34%);
  font-weight: bold;
}

.instructions__line {
  background-color: hsl(30, 18%, 87%);
  height: 1px;
  margin: 2% 0;
}
